<h1>Edit</h1>
<%= form_with model: @article do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.submit %>
<% end %>

<%= link_to "Back", article_path(@article) %>
<%= link_to "View All Articles", articles_path %>
